.warning-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 35;
    background-color: rgba(0, 0, 0, 0.5);
}

.warning {
    background-color: #FFF;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 1px solid #e9e9e9;
    transition: all ease-in-out 600ms;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 20px;
    padding: 20px 30px;
}

.warning .warn-btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.warning .warn-btns button {
    padding: 5px 8px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.warning .warn-btns .no-btn {
    background-color: #C40C0C;
    color: #FFF;
    border: none;
}

.warning .warn-btns .yes-btn {
    border: 1px solid #000;
    background-color: #FFF;
}

.warning .warn-btns .yes-btn:hover {
    background-color: #266CA9;
    color: #FFF;
}

.warning-container .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
}

.slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-3-10 12:21:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}